ul {
  list-style: none;
}

ul li::before {
  content: '\200B';
}

.item {
  background-color: aliceblue;
  border: 1px solid lightgray;
  padding: 12px;
  margin: 8px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item input[type='checkbox'] {
  text-align: center;
  width: 48px;
  height: 48px;
  min-height: 48px;
  min-width: 48px;
  cursor: pointer;
}

.item input[type='checkbox']:focus + label {
  text-decoration: underline;
}

.item > label {
  font-size: 24px;
  font-weight: 100;
  flex-grow: 1;
  text-align: left;
  padding: 0 16px;
}

.item svg {
  width: 48px;
  height: 36px;
  cursor: pointer;
  color: steelblue;
}

.item svg:hover,
.item svg:focus {
  color: red;
  outline: none;
}

.addForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
}

.addForm label {
  position: absolute;
  left: -99999px;
}

.addForm input[type='text'] {
  flex-grow: 1;
  max-width: calc(100% - 50px);
  min-height: 48px;
  font-size: 24px;
  outline: none;
  padding: 8px;
  border-radius: 6px;
  margin-right: 6px;
}

button {
  height: 48px;
  min-width: 48px;
  background-color: #1976d2 !important;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px;
  color: #fff;
}

button:hover,
button:focus {
  background-color: rgb(24, 141, 43);
  color: #fff;
  outline: none;
}

.searchForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.searchForm input[type='text'] {
  height: 48px;
  min-width: 100%;
  padding: 8px;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
}
